@font-face {
    font-family: 'NRPacmanUI';
    src: url('fonts/nr-pacman-ui.eot'),
    url('/assets/fonts/nr-pacman-ui.eot?#ieprefix') format('embedded-opentype'),
    url('/assets/fonts/nr-pacman-ui.ttf') format('truetype'),
    url('/assets/fonts/nr-pacman-ui.svg#NRPacmanUI') format('svg');
    font-weight: normal;
    font-style: normal;
}
