$ui-area-width: 480px;

body {
    background-color: #000;
    color: #e4e4f4;
    font-family: 'VT323', ;
    margin: 0;
}
#scores-area {
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    width: $ui-area-width;
    h1 {
        text-transform: uppercase;
        margin: .25em 0;
    }
    .score-item {
        float: left;
        width: $ui-area-width/3;
        p {
            font-size: 1.75em;
            font-weight: bold;
            margin: 0;
        }
    }
}
#graphics {
    display: block;
    margin: 0 auto;
}
#controls-area {
    margin: 0 auto;
    width: $ui-area-width;
    #lifes, #bonus {
        float: left;
        overflow: auto;
        width: $ui-area-width/2;
    }
    #lifes {
        .life {
            display: inline-block;
            &::before {
                content: url(images/pacman.png);
                margin: 4px;
            }
        }
    }
}
